QuestioningAdmin/Service References/XRep/Xrep.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="coffeemania" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="coffeemania" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="coffeemania">
      <s:element name="GetCash">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_BDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="UnPodrNum" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCashResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SumCash" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="CountCash" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="VozvrCash" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="VozvrCashCount" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="SumCard" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="CountCard" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="VozvrCard" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="VozvrCardCount" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPointList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PodrType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPointListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="L" type="tns:ArrayOfDimTable" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDimTable">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DimTable" nillable="true" type="tns:DimTable" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DimTable">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UnDepNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PointName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Place" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Cassa" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CassEnable" nillable="true" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetPointList2">
        <s:complexType />
      </s:element>
      <s:element name="GetPointList2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPointList2Result" type="tns:ArrayOfDepInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDepInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DepInfo" nillable="true" type="tns:DepInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DepInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UnPodrNum" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="podrName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CassaNum" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Place" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NetName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Login" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Pwd" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SetPointEnable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PointId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Enable" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetPointEnableResponse">
        <s:complexType />
      </s:element>
      <s:element name="AddPoint">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Point" type="tns:DepartmentInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DepartmentInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Place" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Number" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="AlohaStr" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FileserverNum" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Category" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Login" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Enabled" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Kassez" type="tns:ArrayOfMKassaInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMKassaInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="mKassaInfo" nillable="true" type="tns:mKassaInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="mKassaInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Number" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Enabled" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="UnDepNumber" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddPointResponse">
        <s:complexType />
      </s:element>
      <s:element name="AddKassa">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PointId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Kassa" type="tns:mKassaInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddKassaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddKassaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPointList3">
        <s:complexType />
      </s:element>
      <s:element name="GetPointList3Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPointList3Result" type="tns:ArrayOfDepartmentInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDepartmentInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DepartmentInfo" nillable="true" type="tns:DepartmentInfo" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllChecks">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_BDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="UnPodrNum" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllChecksResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllChecksResult" type="tns:ArrayOfFACT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfFACT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FACT" nillable="true" type="tns:FACT" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FACT">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="DATE1" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Number" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DepNumber" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="BusinessDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="SystemDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="TimeOfClosed" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CashSum" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="CardSum" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Waiter" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Cassir" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Sum" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="RealSum" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="IsChange" nillable="true" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="LongNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CassaNumber" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="UnDepNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UnNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PaymentType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UnNumberInt" nillable="true" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="NonOriginal" nillable="true" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="CardType" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DiscountType" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DiscountName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TimeOfOpen" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="CheckTimeLong" nillable="true" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllChecksFromTest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_BDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="UnPodrNum" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllChecksFromTestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllChecksFromTestResult" type="tns:ArrayOfFACT3" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfFACT3">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FACT3" nillable="true" type="tns:FACT3" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FACT3">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="DATE1" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Number" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DepNumber" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="BusinessDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="SystemDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="TimeOfClosed" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CashSum" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="CardSum" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Waiter" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Cassir" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Sum" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="RealSum" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="IsChange" nillable="true" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="LongNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CassaNumber" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="UnDepNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UnNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PaymentType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UnNumberInt" nillable="true" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="NonOriginal" nillable="true" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="CardType" nillable="true" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetEmplTestResult">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EmpNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmplTestResultResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmplTestResultResult" type="tns:ArrayOfTestsHistory" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTestsHistory">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TestsHistory" nillable="true" type="tns:TestsHistory" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TestsHistory">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="TestID" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DepNum" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PeopleId" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PeopleName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TimeOfStart" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="TimeOfStop" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="QCount" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="QRight" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="QNonRight" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TimeLimit" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TimeIsLimit" nillable="true" type="s:boolean" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCashSoapIn">
    <wsdl:part name="parameters" element="tns:GetCash" />
  </wsdl:message>
  <wsdl:message name="GetCashSoapOut">
    <wsdl:part name="parameters" element="tns:GetCashResponse" />
  </wsdl:message>
  <wsdl:message name="GetPointListSoapIn">
    <wsdl:part name="parameters" element="tns:GetPointList" />
  </wsdl:message>
  <wsdl:message name="GetPointListSoapOut">
    <wsdl:part name="parameters" element="tns:GetPointListResponse" />
  </wsdl:message>
  <wsdl:message name="GetPointList2SoapIn">
    <wsdl:part name="parameters" element="tns:GetPointList2" />
  </wsdl:message>
  <wsdl:message name="GetPointList2SoapOut">
    <wsdl:part name="parameters" element="tns:GetPointList2Response" />
  </wsdl:message>
  <wsdl:message name="SetPointEnableSoapIn">
    <wsdl:part name="parameters" element="tns:SetPointEnable" />
  </wsdl:message>
  <wsdl:message name="SetPointEnableSoapOut">
    <wsdl:part name="parameters" element="tns:SetPointEnableResponse" />
  </wsdl:message>
  <wsdl:message name="AddPointSoapIn">
    <wsdl:part name="parameters" element="tns:AddPoint" />
  </wsdl:message>
  <wsdl:message name="AddPointSoapOut">
    <wsdl:part name="parameters" element="tns:AddPointResponse" />
  </wsdl:message>
  <wsdl:message name="AddKassaSoapIn">
    <wsdl:part name="parameters" element="tns:AddKassa" />
  </wsdl:message>
  <wsdl:message name="AddKassaSoapOut">
    <wsdl:part name="parameters" element="tns:AddKassaResponse" />
  </wsdl:message>
  <wsdl:message name="GetPointList3SoapIn">
    <wsdl:part name="parameters" element="tns:GetPointList3" />
  </wsdl:message>
  <wsdl:message name="GetPointList3SoapOut">
    <wsdl:part name="parameters" element="tns:GetPointList3Response" />
  </wsdl:message>
  <wsdl:message name="GetAllChecksSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllChecks" />
  </wsdl:message>
  <wsdl:message name="GetAllChecksSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllChecksResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllChecksFromTestSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllChecksFromTest" />
  </wsdl:message>
  <wsdl:message name="GetAllChecksFromTestSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllChecksFromTestResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmplTestResultSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmplTestResult" />
  </wsdl:message>
  <wsdl:message name="GetEmplTestResultSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmplTestResultResponse" />
  </wsdl:message>
  <wsdl:portType name="XrepSoap">
    <wsdl:operation name="GetCash">
      <wsdl:input message="tns:GetCashSoapIn" />
      <wsdl:output message="tns:GetCashSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPointList">
      <wsdl:input message="tns:GetPointListSoapIn" />
      <wsdl:output message="tns:GetPointListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPointList2">
      <wsdl:input message="tns:GetPointList2SoapIn" />
      <wsdl:output message="tns:GetPointList2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetPointEnable">
      <wsdl:input message="tns:SetPointEnableSoapIn" />
      <wsdl:output message="tns:SetPointEnableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddPoint">
      <wsdl:input message="tns:AddPointSoapIn" />
      <wsdl:output message="tns:AddPointSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddKassa">
      <wsdl:input message="tns:AddKassaSoapIn" />
      <wsdl:output message="tns:AddKassaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPointList3">
      <wsdl:input message="tns:GetPointList3SoapIn" />
      <wsdl:output message="tns:GetPointList3SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllChecks">
      <wsdl:input message="tns:GetAllChecksSoapIn" />
      <wsdl:output message="tns:GetAllChecksSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllChecksFromTest">
      <wsdl:input message="tns:GetAllChecksFromTestSoapIn" />
      <wsdl:output message="tns:GetAllChecksFromTestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmplTestResult">
      <wsdl:input message="tns:GetEmplTestResultSoapIn" />
      <wsdl:output message="tns:GetEmplTestResultSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="XrepSoap" type="tns:XrepSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCash">
      <soap:operation soapAction="coffeemania/GetCash" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPointList">
      <soap:operation soapAction="coffeemania/GetPointList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPointList2">
      <soap:operation soapAction="coffeemania/GetPointList2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPointEnable">
      <soap:operation soapAction="coffeemania/SetPointEnable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPoint">
      <soap:operation soapAction="coffeemania/AddPoint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddKassa">
      <soap:operation soapAction="coffeemania/AddKassa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPointList3">
      <soap:operation soapAction="coffeemania/GetPointList3" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllChecks">
      <soap:operation soapAction="coffeemania/GetAllChecks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllChecksFromTest">
      <soap:operation soapAction="coffeemania/GetAllChecksFromTest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmplTestResult">
      <soap:operation soapAction="coffeemania/GetEmplTestResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="XrepSoap12" type="tns:XrepSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCash">
      <soap12:operation soapAction="coffeemania/GetCash" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPointList">
      <soap12:operation soapAction="coffeemania/GetPointList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPointList2">
      <soap12:operation soapAction="coffeemania/GetPointList2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPointEnable">
      <soap12:operation soapAction="coffeemania/SetPointEnable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPoint">
      <soap12:operation soapAction="coffeemania/AddPoint" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddKassa">
      <soap12:operation soapAction="coffeemania/AddKassa" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPointList3">
      <soap12:operation soapAction="coffeemania/GetPointList3" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllChecks">
      <soap12:operation soapAction="coffeemania/GetAllChecks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllChecksFromTest">
      <soap12:operation soapAction="coffeemania/GetAllChecksFromTest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmplTestResult">
      <soap12:operation soapAction="coffeemania/GetEmplTestResult" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Xrep">
    <wsdl:port name="XrepSoap" binding="tns:XrepSoap">
      <soap:address location="http://s2010:3130/Xrep.asmx" />
    </wsdl:port>
    <wsdl:port name="XrepSoap12" binding="tns:XrepSoap12">
      <soap12:address location="http://s2010:3130/Xrep.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>